* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background-color: #EFF0EC;
    width: 100%;
    margin: 0;
}
html {
    background: linear-gradient(to bottom right, #282d33 0%, #2c3e50 100%);
    height: 100%;
    width: 100%;
    margin: 0;
}

/* Header */
#header {
    width: 100%;
    height: 50px;
    background-color: #282d33;
    /*box-shadow: 0 0 11px 1px #111;*/
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    position: relative;
    z-index: 50;
}
#header-center {
    width: auto;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}
#logo {
    height: 48px;
    display: inline-block;
    left: 0;
    top: 0;
    position: absolute;
}
#game_dropdown {
    height: 50px;
    width: 110px;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}
#header-menu {
    position: absolute;
    right: 0;
    top: 0;
}
#menu {
    list-style: none;
    height: 50px;
    vertical-align: middle;
    display: table-cell;
}
ul > li {
    float: left;
    color: #ddddd1;
    padding-left: 30px;
}

.fa {
    color: #ddddd1;
    font: normal normal normal 32px/1 FontAwesome !important;
}
i {
    cursor: pointer;
}

#game_drop_ico {
    font: normal normal bold 45px/1 FontAwesome !important;
}

.arrow-down {
    width: 0;
    height: 0;
    display: inline-block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ddddd1;
    top: 45%;
    position: absolute;
    margin-left: 10px;
}

#games {
    position: absolute;
    width: 100%;
    height: 190px;
    background-color: #151718;
    z-index: 20;
}
#games_grid {
    width: 1170px;
    margin: 0 auto;
    height: 100%;
}

.game {
    position: relative;
    display: block;
    float: left;
    padding: 15px 6.25px;
    overflow: hidden;
}
.game img {
    width: 280px;
    border: 1px solid rgba(249, 144, 37, 0.3);
}


@media screen and (max-width: 1195px) {
    #header-center {
        margin: 0px 15px;
    }
}

@media screen and (max-width: 1170px) {
    #games_grid {
        width: auto;
    }
    #games {
        height: 380px;
    }
}



#snake_canvas {
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-shadow: 0px 0px 20px 2px rgba(119, 119, 119, 0.75);
    -moz-box-shadow: 0px 0px 20px 2px rgba(119, 119, 119, 0.75);
    -webkit-box-shadow: 0px 0px 20px 2px rgba(119, 119, 119, 0.75);
}

.slider {
    width:750px;
    margin:20px auto;
}

button {
    padding:1em;
    margin:20px 0 10px 0;
    font-size:12px;
    cursor:pointer;
}

.game_img {
    -webkit-filter: grayscale(60%);
    -moz-filter: grayscale(60%);
    -o-filter: grayscale(60%);
    filter: grayscale(60%);
}
.game_img:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
}

/*CSS ACHIEVEMENTS*/

#achievementContainer {
    position: fixed;
    bottom: 0;
    right: 10px;
    height: 0px;
    background: blue;
    z-index: 200;
}

#achievement {
    width: 250px;
    height: 60px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 1px;
}

#iconAchievement {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 60px;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 35px;
    text-align: center;
    line-height: 50px !important;
    color: rgba(255, 255, 255, 0.7);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
}

#textAchievementUnlocked {
    position: absolute;
    margin-left: 60px;
    font-weight: bold;
    color: white;
    font-family: 'Arial', sans-serif;
    margin-top: 10px;
    font-size: 13px;
    text-transform: uppercase;
}

#textAchievement {
    position: absolute;
    margin-left: 65px;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Arial', sans-serif;
    margin-top: 25px;
    font-size: 11px;
    padding-right: 5px;
}

/*FIN CSS ACHIEVEMENTS*/


/*DEBUT CSS LOGIN*/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 300;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300;
    background: #50a3a2;
    width:100%;
    margin: 0;
    border: none;
    padding: 0;
    background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: linear-gradient(to bottom right, #282d33 0%, #2c3e50 100%);
}
body ::-webkit-input-placeholder {
    /* WebKit browsers */
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300;
}
body :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    opacity: 1;
    font-weight: 300;
}
body ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    opacity: 1;
    font-weight: 300;
}
body :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300;
}
.wrapper {
    background: #50a3a2;
    background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: linear-gradient(to bottom right, #282d33 0%, #2c3e50 100%);
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-top: 200px;
}
.wrapper.form-success .container h1 {
    -webkit-transform: translateY(85px);
    transform: translateY(85px);
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 80px 0;
    height: 400px;
    text-align: center;
}
.container h1 {
    font-size: 40px;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: ease-in-put;
    transition-timing-function: ease-in-put;
    font-weight: 200;
}
.form {
    padding: 20px 0;
    position: relative;
    z-index: 2;
}
.form input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    width: 250px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: white;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    font-weight: 300;
}
.form input:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
.form input:focus {
    background-color: white;
    width: 300px;
    color: #2c3e50;
}
.form button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: #2c3e50;
    border-radius: 3px;
    width: 250px;
    cursor: pointer;
    font-size: 18px;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
}
.form button:hover {
    background-color: #f5f7f9;
}
.bg-bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.bg-bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.15);
    bottom: -160px;
    -webkit-animation: square 25s infinite;
    animation: square 25s infinite;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1) {
    left: 10%;
}
.bg-bubbles li:nth-child(2) {
    left: 20%;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 17s;
    animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
    left: 25%;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    border-radius: 60px;

    -webkit-animation-duration: 22s;
    animation-duration: 22s;
    background-color: rgba(255, 255, 255, 0.25);
}
.bg-bubbles li:nth-child(5) {
    left: 70%;
}
.bg-bubbles li:nth-child(6) {
    left: 80%;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
    background-color: rgba(255, 255, 255, 0.2);
}
.bg-bubbles li:nth-child(7) {
    left: 32%;
    width: 160px;
    height: 160px;
    border-radius: 160px;

    -webkit-animation-delay: 10s;
    animation-delay: 10s;
}
.bg-bubbles li:nth-child(8) {
    left: 55%;
    width: 20px;
    height: 20px;
    -webkit-animation-delay: 15s;
    animation-delay: 15s;
    -webkit-animation-duration: 30s;
    animation-duration: 30s;
}
.bg-bubbles li:nth-child(9) {
    left: 25%;
    width: 10px;
    height: 10px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 30s;
    animation-duration: 30s;
    background-color: rgba(255, 255, 255, 0.3);
}
.bg-bubbles li:nth-child(10) {
    left: 90%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 11s;
    animation-delay: 11s;
}
@-webkit-keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-1500px) rotate(600deg);
        transform: translateY(-1500px) rotate(600deg);
    }
}
@keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-1500px) rotate(600deg);
        transform: translateY(-1500px) rotate(600deg);
    }
}


/*FIN CSS LOGIN*/

.boxAchievement{
    width: 280px;
    height: 350px;
    z-index: 1;
    display: inline-block;
    margin: 1%;
    background: rgba(0,0,0,0.3);
    color: white;
    text-align: center;

}
.boxAchievement i{
    font-size: 150px !important;
    margin-top: 10%;
}
.boxAchievement p{
    font-size: 25px !important;
    margin-top: 10%;
}


@import "http://fonts.googleapis.com/css?family=Montserrat:300,400,700";
.rwd-table {
  margin: 1em 0;
  min-width: 300px;
}
.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.rwd-table th {
  display: none;
}
.rwd-table td {
  display: block;
}
.rwd-table td:first-child {
  padding-top: .5em;
}
.rwd-table td:last-child {
  padding-bottom: .5em;
}
.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
@media (min-width: 480px) {
  .rwd-table td:before {
    display: none;
}
}
.rwd-table th, .rwd-table td {
  text-align: left;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
}
.rwd-table th:first-child, .rwd-table td:first-child {
    padding-left: 0;
}
.rwd-table th:last-child, .rwd-table td:last-child {
    padding-right: 0;
}
}


.rwd-table {
  background: #34495E;
  color: #fff;
  border-radius: .4em;
  overflow: hidden;
  display: block;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}
.rwd-table tr {
  border-color: #46637f;
}
.rwd-table th, .rwd-table td {
  margin: .5em 1em;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    padding: 1em !important;
}
}
.rwd-table th, .rwd-table td:before {
  color: #dd5;
}
.buttonConaiter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
